
@model IEnumerable<WebApp.Command.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="CreateFile" asp-controller="Product" asp-route-type="@((int)(EFileType.Excel))">Create Excel</a>
    <a class="btn btn-primary" asp-action="CreateFile" asp-controller="Product" asp-route-type="@((int)(EFileType.Pdf))">Create Pdf</a>
    <a class="btn btn-primary" asp-action="CreateFile" asp-controller="Product" asp-route-type="@((int)(EFileType.Json))">Create Json</a>
    <a class="btn btn-primary" asp-action="CreateFiles" asp-controller="Product">Create Excel & Pdf</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
